<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{title}}</title>
      <link rel="apple-touch-startup-image" href="/images/quack.jpg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script type="text/javascript" src="/javascripts/reqEvents.js"></script>
      <style type="text/css">
          .btn-primary {
              padding: 20px;
          }
      </style>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
